.im-centered {
  margin: auto;
  max-width: 300px;
}

ul.snippet-results {
  list-style-type: none;
  list-style-position: inside;
}

li.snippet {
  margin: 1em 0;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
